@import '~bootswatch/dist/litera/variables';
$secondary: #f2f2f2;
$utilities: (
  'opacity': (
    property: opacity,
    values: (
      0: 0,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),
);
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/litera/bootswatch';

p {
  font-family: $font-family-sans-serif;
}
